@import "tailwindcss";

@keyframes border-transform {
  0%, 100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14%       { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28%       { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42%       { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56%       { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70%       { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84%       { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

@theme{
  
  --animate-morph: border-transform 6s linear infinite alternate forwards;
  --color-background: #e8e4d8;   /* بک‌گراند اصلی، روشن و نرم */
  
  --color-primary: #7c8a58;      /* سبز اصلی */
  --color-secondary: #95a473;    /* هاور و اکتیو */
  
  --color-third: #c3c7b6;        /* خطوط و متن خیلی کم‌رنگ */
  --color-fourth: #363229;       /* تیترها */
  --color-fiveth: #696356;       /* متن فرعی */
  
  --color-sixeth: #dbe1cf;       /* سطح دوم، فیلتر، سایدبار */
  --color-first: #edf2e4;        /* کارت‌ها با ته‌رنگ سبز */
  
  --color-text: #2d2922;
  --color-text1: #ffffff;
  --color-text-muted: #f6f8f1;
  --color-p-text: #fcfdf9;
  --color-text-import: #7c8a58;
  
  --color-border: #afb79a;

  --font-main: "Vazir", sans-serif;

}


@layer components{
 
}

@layer utilities{

    .search{
      background: linear-gradient(180deg , #d0d4cb , #8A9A7B);
    }

}

@layer base{

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Medium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
  }

  body{
    font-family: var(--font-main);
    background: var(--color-background);
  }

}
