@import "tailwindcss";

@keyframes border-transform {
  0%, 100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14%       { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28%       { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42%       { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56%       { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70%       { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84%       { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

@theme{
  
  --animate-morph: border-transform 6s linear infinite alternate forwards;

  --color-background: #FDFCFA;

  --color-primary: #9EAD8C;
  --color-secondary: #8A9A7B;
  --color-third: #D9D9D9;
  --color-fourth: #FBEAEA;
  --color-fiveth: #FBF9F9;
  --color-sixeth: #F4F1EA;
  --color-first: #FDFCFA;

  --color-text: #000000;
  --color-text-muted: #5E5151;
  --color-p-text: #FFFDFD;
  --color-text-import: #9EAD8C;

  --color-border: #9EAD8C;

  --font-main: "Vazir", sans-serif;

}


@layer components{
 
}

@layer utilities{

    .search{
      background: linear-gradient(180deg , #d0d4cb , #8A9A7B);
    }

}

@layer base{

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Medium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
  }

  body{
    font-family: var(--font-main);
    background: var(--color-background);
  }

}
