@import "tailwindcss";

@keyframes border-transform {
  0%, 100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14%       { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28%       { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42%       { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56%       { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70%       { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84%       { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

@theme{
  
  --animate-morph: border-transform 6s linear infinite alternate forwards;

/* رنگ‌های اصلی برند بر اساس عکس */
   --brand-charcoal: #2B2B2B; /* زغالی */
  --brand-ivory: #F3EBDD;    /* عاجی گرم */
  --brand-taupe: #A08F7A;    /* تاپ (خاکی/بژ تیره) */
  --brand-gold: #B08D57;     /* طلایی مات */

  /* نگاشت متغیرهای عمومی به پالت جدید */
  --color-primary: var(--brand-charcoal);   /* دکمه در حالت هاور (زغالی) */
  --color-secondary: var(--brand-taupe);   /* دکمه در حالت عادی (تاپ/خاکی) */
  --color-accent: var(--brand-gold);       /* رنگ طلایی برای ستاره‌ها و جزئیات خاص */
  --color-p-text: #FFFFFF;       /* رنگ طلایی برای جلب توجه */
  
  /* رنگ‌های لایه‌بندی و بخش‌های مختلف */
  --color-first: #FDFCFA;                  /* مایل به سفید برای داخل کارت‌ها */
  --color-sixeth: #E6DED1;                 /* یک درجه تیره‌تر از ivory برای مرزبندی */

  /* مدیریت متون (Typography) */
  --color-text: var(--brand-charcoal);     /* متن‌ها نباید مشکی مطلق باشند، زغالی عالیه */
  --color-text-muted: #6B5E4C;             /* رنگ متن کم‌اهمیت‌تر (نزدیک به خانواده Taupe) */
  --color-p-text: #FFFFFF;                 /* برای متن روی دکمه‌های تیره */
  --color-text-import: var(--brand-gold);  /* برای هایلایت‌های مهم مثل قیمت */

  /* حاشیه‌ها */
  --color-border: var(--brand-taupe);

  --font-main: "Vazir", sans-serif;

}


@layer components{
 
}

@layer utilities{

    .search{
      background: linear-gradient(180deg , #d0d4cb , #8A9A7B);
    }

}

@layer base{

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Medium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "Vazir";
      src: url("/src/assets/Fonts/vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
  }

  body{
    font-family: var(--font-main);
    background: var(--color-background);
  }

}
